{% extends 'base.html' %}
{% block gestion %} <br>
    <h1>Details de cette Seance </h1>
    <br>
    <div class="container">


        <div class="col-lg-12">
            <div class="card mb-3" style="max-width: 100%; ">
            <div class="row g-0">
            
                <div class="col-md-12">
                <div class="card-body"> <br>
                    <h4 class="">Seance de : <strong style="color: rgb(0, 85, 255);">{{bilan.seance.type}}</strong> </h4> 
                    <hr>
                    <h6><small> {{bilan.date}}</small></h6>
<br>
                    <div class="row">
                        <div class="col-md-4">Église : <strong>{{bilan.eglise}}</strong></div>
                        <div class="col-md-4">Groupe : <a href="{% url 'group_totals' %}"><strong>{{bilan.eglise.groupe}}</strong></a></div>
                        <div class="col-md-4">Region : <a href="{% url 'region_totals' %}"><strong>{{bilan.eglise.region}}</strong></a></div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-4">Assistance d'Adultes : <strong>{{ bilan.adultes_hommes }}; F = {{ bilan.adultes_femmes }}</strong></div>
                        <div class="col-md-4">Assistance des Jeunes : <strong>{{ bilan.jeunes_garcons }} | F = {{ bilan.jeunes_filles }}</strong></div>
                        <div class="col-md-4">Assistance d'Enfants : <strong>{{ bilan.enfants_garcons }} | F = {{ bilan.enfants_filles }}</strong></div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-4">Assistance Totale : <strong>{{ bilan.total_assistance }}</strong></div>
                        <div class="col-md-4"> Cotisation : <strong>{{ bilan.cotisation|floatformat:0 }}</strong></div>
                        <div class="col-md-4">Date de la seance : <strong> {{bilan.date}}</strong></div>
                    </div>
                     <br>
                    <br>
                <center><p>Date d'ajout :<strong>{{bilan.add_date}} par {{bilan.auteur}}</strong></p></center>
        
                </div>
                </div>
            </div>
            </div>

        </div>
    
        
        <br><br><br>
        <a href="{% url 'edit_seance' bilan.pk %}" class="btn btn-success">Modifier</a>
        <a href="{% url 'delete_seance' bilan.pk %}" class="btn btn-danger">Supprimer</a>
    </div>
    <br><br><br>
{% endblock %}