{% extends 'base.html' %}
{% load static %}

{% block gestion %}




    <h1>La liste des Bilans ({{seance_type}}) </h1> <br>
        {% if data %}
        <p>Le nombre total de bilan : <strong>{{seance_filter_count}}</strong></p> <br>
        
        <form method="get" action="">
          {{ form.as_p }}
          <button type="submit">Filtrer</button>
      </form>
      
        <table class="table datatable">
            <thead>
              <tr>
                <th>Date de_la_seance</th>
                <th>Église</th>
                <th>Assistance Adultes</th>
                <th>Assistance Jeunes</th>
                <th>Assistance Enfants</th>
                <th>Total Hommes</th>
                <th>Total Femmes</th>
                <th>Assistance Total</th>
                <th>Cotisation</th>
              </tr>
            </thead>
            <tbody>

                {% for item in data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td><a href="">{{ item.eglise }}</a></td>
                        <td>H = {{ item.adultes_hommes }} | F = {{ item.adultes_femmes }}</td>
                        <td>G = {{ item.jeunes_garcons }} | F = {{ item.jeunes_filles }}</td>
                        <td>G = {{ item.enfants_garcons }} | F = {{ item.enfants_filles }}</td>
                        <td><center>{{ total_hommes }}</center></td>
                        <td><center>{{ total_femmes }}</center></td>
                        <td><center>{{ total_assistance }}</center></td>
                        <td><center>{{ item.cotisation|floatformat:0 }}</center></td>
                    </tr>
                {% endfor %}
           
            </tbody>
          </table>

                                
        {% else %}
            <strong>Pas d'informations pour le moment !</strong>
        {% endif %}
{% endblock %}