{% extends 'base.html' %}
{% load static %}
{% block gestion %}
    <h2>La liste des jeunes dans ce district. </h1>
<br><br>

<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{eglise}}</h5>
            <p> Le nombre de jeunes dans cette église est : <strong> {{jeunes_district_nombre}} </strong> </p>

            <br>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Please select format of file.</p>
                <select name="file-format" class="form-control my-3">
                    <option selected>Choose format...</option>
                    <option>CSV</option>
                    <option>JSON</option>
                    <option>PDF</option>
                    <option>XLS (Excel)</option>
                  </select>
                <button class="btn btn-primary" type="submit">Export</button>
              </form>
              <br>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>
                    <b>N</b>om
                  </th>
                  <th>Prenom</th>
                  <th>Classe/profession</th>
                  <th data-type="date" data-format="YYYY/DD/MM">date de naissance</th>
                  <th>Sexe</th>
                  <th>Eglise</th>
                </tr>
              </thead>
              <tbody>

                {% if jeunes_district %}
                    {% for jeune in jeunes_district %}
                        <tr>
                        <td><a href="{% url 'jeune_details' jeune.pk %}">{{jeune}}</a></td>
                        <td>{{jeune.prenom}}</td>
                        <td>{{jeune.classe}}</td>
                        <td>{{jeune.date_de_naissance}}</td>
                        <td>{{jeune.sexe}}</td>
                        <td>{{jeune.eglise}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <strong>Pas de jeunes pour cette eglise ({{eglise}}) !</strong>
                {% endif %}
             
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>



<br><br><br>
{% endblock %}






