{% extends 'base.html' %}
{% load static %}
{% block gestion %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7">
          <h2>La liste des jeunes de l'églises  </h2>  
        </div>
        <div class="col-12 col-md-5">
            <form action="{% url 'search_jeune' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-9"><input type="text" class="form-control" placeholder="Entrez le nom à rechercher" name="search_jeune"></div>
                    <div class="col-3"><button type="submit" class="btn btn-primary">valider</button></div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
    <br>
    <p>Le nombre de jeunes dans l'église est : <strong>{{jeunes}}</strong> </p>
    
<br>
    <section class="container-fluid">
        <div class="row"> 
        {% if object_list %}
            {% for jeune in object_list %}
                <div class="col-md-4">
                <div class="card">
                    {% if jeune.header_image %}
                    <img src="{{jeune.header_image.url}}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'assets/img/card.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'jeune_details' jeune.pk %}">{{jeune}}</a></h5>
                        <p class="card-text"></p>
                    </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <strong>Pas d'informations pour le moment !</strong>
        {% endif %}
        </div>
    </section>
<br><br><br>
{% endblock %}